.jumbotron{
    border-bottom: 10px solid;
    margin-bottom: 50px;
    text-align: center;
}

.workHour{
    border-top: solid;
    line-height: 50px;
}

h1 {
    font-size: 75px;
    font-family: cursive;
    text-align: center;
    margin-bottom: 30px;
}

#ptext,
#dayTime{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.present {
    background-color: #ff6961;
  }
  
  .future {
    background-color: #77dd77;
  }

  textarea{
   
    height: 100%;
    width:100%;
    border-style: solid;
    color: black;
  }

  .saveBtn{
      background-color:#6495ED;
      height: 100%;
      width:100%;
      border-style: solid;
      border-color: white;
      border-left: black; 
  }

  .saveBtn:hover {
    background-color: green;
  }
  